@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import "./buttons.scss";
@import "./menu.scss";
@import "./header.scss";
@import "./typography.scss";

:root {
  --background: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
  font-family: "Manrope", sans-serif !important;
}

html,
body,
button,
div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: var(--background) !important;
  background: url("./../assets/blur-mobile.png") no-repeat;
  background-position: bottom;
  background-size: cover;
  @media screen and (min-width: 720px) {
    background: url("./../assets/blur-1.png"), url("./../assets/blur-2.png");
    background-repeat: no-repeat;
    background-position: bottom left, top right;
  }
}

.mobile-main-content {
  position: relative;
  display: flex;
}

.desktop-main-content {
  position: relative;
  flex: 1;
}

.disable-on-mobile {
  display: none !important;
  @media screen and (min-width: 720px) {
    display: flex !important;
  }
}

.disable-on-desktop {
  display: flex !important;
  @media screen and (min-width: 720px) {
    display: none !important;
  }
}

.great-coffee-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  h1 {
    font-size: 40px;
    color: white;
    margin: 0;
    @media screen and (min-width: 720px) {
      font-size: 80px;
    }
  }
}

.content-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .rocket-coffee-image {
    position: fixed;
    bottom: 0;
    width: 60%;
    @media screen and (min-width: 1500px) {
      width: 70%;
    }
  }
}

.content-mobile {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
  img {
    margin-inline: auto;
    max-width: 100%;
    height: auto;
    @media screen and (min-width: 720px) {
      max-width: 450px;
    }
  }
}
