.great-code {
  color: #000 !important;
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button) !important;
}

.main-motto {
  margin-top: 15vh;
  font-size: clamp(1.6rem, 1.85rem, 2rem);
  font-weight: bolder;
  color: white;
  text-align: center;
}
